<div class="track-container">
  @for (track of tracks; track $index) {
    <div class="track">
      <div class="track-info-container">
        <span>Track {{ $index + 1 }}</span>
        <p-dropdown [options]="sounds" optionLabel="name" placeholder="Choose Sound"></p-dropdown>
      </div>
      <div class="note-container">

      </div>
    </div>
  }
</div>

<button pButton (click)="addTrack()">Add Track</button>

<p-table [value]="sounds">
  <ng-template pTemplate="header">
    <tr>
      <th>Sound</th>
      <th><!-- Buttons --></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sound>
    <tr>
      <td>{{ sound.name ?? 'No name given.' }}</td>
      <td>
        <button pButton icon="pi pi-play" (click)="soundMenu.play(sound)"></button>
        <button pButton icon="pi pi-pencil" (click)="soundMenu.edit(sound)"></button>
        <button pButton icon="pi pi-trash" (click)="soundMenu.delete(sound)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
